<div class="route_container">
  <div class="web_container overlay">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ this.mode | titlecase }} Account</mat-card-title>
      </mat-card-header>
      <form
        [formGroup]="accountForm"
        (ngSubmit)="onSaveAccount()"
        enctype="multipart/form-data"
      >
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="name"
            placeholder="deGiro"
            required
          />
          <mat-error *ngIf="accountForm.get('name').invalid"
            >Please enter a account name.</mat-error
          >
        </mat-form-field>
        <div>
          <mat-form-field>
            <input
              matInput
              type="number"
              formControlName="balance"
              placeholder="Balance"
              required
            />
            <mat-error *ngIf="accountForm.get('balance').invalid"
              >Please enter a balance.</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Currency</mat-label>
            <mat-select [(value)]="selected" formControlName="currency">
              <mat-option
                *ngFor="let currency of currencies"
                [value]="currency.value"
              >
                {{ currency.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="accountForm.get('currency').invalid"
              >Please select a currency.</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input
              [formGroup]="accountForm"
              [rangePicker]="picker"
            >
              <input
                matStartDate
                formControlName="date_start"
                placeholder="Start date"
              />
              <input
                matEndDate
                formControlName="date_end"
                placeholder="End date"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <mat-error
              *ngIf="
                accountForm.controls.date_start.hasError('matStartDateInvalid')
              "
              >Invalid start date</mat-error
            >
            <mat-error
              *ngIf="
                accountForm.controls.date_end.hasError('matEndDateInvalid')
              "
              >Invalid end date</mat-error
            >
          </mat-form-field>
        </div>
        <ul>
          <li>
            <button
              mat-raised-button
              color="edit"
              type="submit"
              [disabled]="!accountForm.valid"
            >
              {{ this.mode | titlecase }} Account
            </button>
          </li>
          <li>
            <button
              *ngIf="mode != 'create'"
              mat-raised-button
              color="warn"
              type="button"
              (click)="deleteAccount(this.accountId)"
            >
              Delete
            </button>
          </li>
          <li>
            <a mat-raised-button routerLink="/" routerLinkActive="mat-basic"
              >Cancel</a
            >
          </li>
        </ul>
      </form>
    </mat-card>
  </div>
</div>
